.form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  background-color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40vh;
  margin: auto;
  .inputs {
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .submit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    .submit-btn {
      padding: 10px 0;

      background: rgb(0, 0, 0);
      cursor: pointer;
      color: white;
    }
  }
}
