.sign {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .sign {
    display: block;
  }
}
