.checkpage {
  width: 50%;
  margin: auto;
  min-height: 90vh;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  .checkitems {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .checkheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1021px) {
  .checkpage {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .checkitems {
    display: none;
  }
}

.emptycart {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  .empty-title {
    color: blue;
    font-size: 60px;
  }
  .empty-img {
    object-fit: contain;
    height: 250px;
  }
  @media (max-width: 800px) {
    & {
      flex-direction: column;
    }
    .empty-title {
      color: blue;
      font-size: 30px;
    }
    .empty-img {
      object-fit: contain;
      height: 150px;
    }
  }
}
