.form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
}

.forms {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 45vh;
  justify-content: space-evenly;
  .inputs {
    padding: 10px 0;
  }
  .submit-btn {
    padding: 10px 0;
    border: none;
    background: rgb(226, 174, 29);
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-family: poppins;
    letter-spacing: 2px;
    border-radius: 25px;
  }
}
